<div>

<!--   <form action="/answer" method="get">
    <input type="text" name="question">
    <input type="submit" value="Ask!">
  </form> -->
  <h1>Stupid coaching</h1>
  <p>Ask your coach anything:</p>

  <!-- <form action="/answer" method="get" class="form-inline">
    <input type="text" name="question" class="form-control rounded-left">
    <button type="submit" value="Ask" class="btn btn-primary rounded-right">Ask!</button>
  </form> -->

  <form action="/answer" class="form-inline">
  <div class="input-group input-group-lg">
    <input type="text" name="question" class="form-control">
    <span class="input-group-btn">
      <input type="submit" value="Ask" class="btn btn-primary">
    </span>
  </div>
</form>

</div>
